{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react",
      "@babel/preset-typescript"
    ],
    "plugins": [
      "@babel/plugin-transform-modules-commonjs"
    ],
    // "env": {
    //     "start": {
    //       "presets": [
    //         "react-hmre"
    //       ]
    //     },
    //     "test": {
    //       "presets": ["react", "stage-0"]
    //     }
    //   }
  }
  